
* {
    --main-background: #ef4444;
    --light-background: #f3dddd;
    --shadow: #d5bcbc;
    font-family: 'Roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{
    margin: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(200px, 10vw) 1fr;
    grid-template-rows: minmax(150px, 10vh) 1fr;
    height: 100vh;
}

.navbar {
    background-color: var(--main-background);
    grid-area: 1 / 1 / 3 / 2;
    color: white;
    padding-left: 20px;
    z-index: 2;
}

.navbar > p {
    font-size: 1.3rem;
    font-weight: bold;
}


ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

.nav-icon {
    height: 1.5rem;
    width: auto;
    filter: invert(99%) 
            sepia(89%) 
            saturate(285%) 
            hue-rotate(190deg) 
            brightness(114%) 
            contrast(100%);
}

ul > li > div {
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}

.top-bar {
    background-color: white;
    z-index: 1;
    box-shadow: 0px 0px 5px 5px var(--shadow);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 30px 50px;
}

.search {
    display: flex;
    height: 25px;
}

.search > input {
    width: 80%;
    height: 100%;
    
    border-radius: 20px;
    border: 0px;
    box-shadow: inset 0px 0px 2px var(--shadow);
    background-color: var(--light-background);
}

#search-icon{
    height: 30px;
}

.top-profile {
    height: 30%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: right;
}

#notification {
    height: 30px;
    width: auto;
}

.pfp.top {
    height: 40px;
    width: auto;
    border-radius: 20px;
}

.top-profile > p {
    font-size: 1rem;
    font-weight: bold;
}

.bottom-profile{
    display: flex;
    gap: 10px;
    align-items: center;
}

.pfp.bottom {
    height: 50px;
    width: auto;
    border-radius: 25px;
}

.bottom-profile p {
    margin: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

#hi {
    font-size: 12px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: right;
}

.buttons > ul {
    display: flex;
    gap: 20px;
}

.buttons button {
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: var(--main-background);
    color: white;
    font-weight: bold;
}

.main-content{
    background-color: var(--light-background);
}

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, clamp(300px, 40%, 400px));
    gap: 10px;
    padding: 20px;
}

.card {
    border: 1px solid blue;
   
    width: 80%;
}